<body>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itr of students">
      <td>{{itr.ID}}</td>
      <td>{{itr.Name}}</td>
      <td>{{itr.City}}</td>
    </tr>
    </tbody>
    </table>

    <div  *ngIf="isValid">
      <p>Hey, students we have  a webinar on 21st December</p>
    </div>
    <div  *ngIf="!isValid">
      <p>Hey, students we don't have  a webinar on 21st December</p>
    </div>
    <!-- it is used to add or remove CSS classes from a DOM elements -->
    <div [ngClass]="'one'">
      <h2>Learning Angular Directives</h2>
     
    </div>
    <!-- ngStyle attribute -->
    <button [ngStyle]="{'color':'blue', 'font-weight':'bold', 'background-color':'pink'}">Submit</button>

  </body>
  